- hosts: web
  become: yes
  tasks:

    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Build Docker image
      command: docker build -t myapp /home/ubuntu/project/docker

    - name: Run Docker container
      command: docker run -d -p 80:80 myapp