- hosts: web
  become: yes
  tasks:

    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Stop old container if running
      command: docker rm -f myapp
      ignore_errors: yes

    - name: Run Docker container with host volume
      command: >
        docker run -d --name myapp -p 80:80
        -v /home/ubuntu/project/docker/app:/usr/share/nginx/html
        my-static-site:latest